
// Colores

@color1: #23a455;
@color1a: lighten(@color1, 6%);
@color1b: darken(@color1, 6%);

@color2: #352EA0;
@color2a: lighten(@color2, 24%);
@color2b: darken(@color2, 10%);

@color3: #E98C3D;
@color3a: lighten(@color3, 20%);
@color3b: darken(@color3, 10%);

@gray: #e8efe0;


@facebook: #3b5998;
@linkedin: #007bb5;
@twitter: #55acee;
@google: #dd4b39;
@slack: #00A57F;
@reddit: #ff4500;
@instagram: #5b80a2;
@whatsapp: #25D366;
@spotify: #00D95F;
@youtube: #dd4b39;
@snapchat: #FFFC00;
@vk: #4c75a3;
@telegram: #0088cc;
@twitch: #6441a5;

