//out: ../css/app.css, compress:true

@import "_plugins.less";
@import "_variables.less";
@import "_utilities.less";
@import "_theme.less";



html{
  height: 100%;
}

//General

body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #333;
}

p{
  color: #838c84;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font-weight: 600;
  letter-spacing: -0.1rem;
}

h2,.h2{
  margin-bottom: 1.8rem;
  font-size: 35px !important;
}

h3,.h3{
  margin-bottom: 1.5rem;
}

h1,.h1{
  margin-bottom: 35px;
}

p{
  line-height: 2rem;
  font-size: 20px;
}

.bg-gray{
  background: rgb(254,254,255);
  background: linear-gradient(0deg, rgba(254,254,255,1) 0%, rgba(230,233,219,1) 100%);
}

.heropage{
  background-color: #ebede2;
  background-repeat: repeat;
  -webkit-background-size: 28px;
       -o-background-size: 28px;
          background-size: 28px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d5d8c7' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.lead{
  font-size: 1.3rem;
}

//Front end
#frontmain{
  .mainheader{
    border-bottom: 1px solid #DCE4E7;
  }
}

@media (max-width: 768px){
  #mainfold{
    padding: 2rem 0;
  }
}

#loginpage{
  .signupstep{
    .animar;
    display: none;
  }
}

@media (max-width: 768px) {
  .h1, h1{
    font-size: 2.3rem;
  }
  .lead{
    font-size: 1.2rem;
  }
  .elementor-container{
    padding-left: 10px;
    padding-right: 10px;
  }
}