@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');

body{
}

body#error-page{
	font-family: 'DM Sans',sans-serif;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dde1e8' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
	background-color: #19253b;
}